/*Reference: https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/ */

.App {
  display: flex;
  height: 100vh;
  background-color: white;
}

.sidebar {
  background-color: white;
  color: black;
  width: 150px; /* Adjusted width for dropdown */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: none;
  margin-right: -1px;
  padding: 20px; /* Added padding for spacing */
}

.dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.tab {
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.8);
}

.bold {
  font-weight: bold;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  color: black;
  margin: 0;
}




  