.container {
    width: 100%;
  }
  
  /* Top Banner*/
  .banner { 
    background-color: #f0f0f0; /* Example background color for the banner */
    padding: 20px;
    height: 100px; /* Set a fixed height for the banner */
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  /* Logo Size*/
  .App-logo {
    max-height: 100%; /* Ensure the image maintains its aspect ratio */
    max-width: 100%;
    height: auto;
    width: auto; 
    margin-right: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .left-column {
    flex: 1;
    padding: 20px;
  }
  
  .info-item {
    margin-bottom: 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .right-column {
    /* Add styles for the right column if needed */
  }
  