
.App {
  background-color: #3a3a3a; /* Setting the background color to black */
  min-height: 100vh; /* Setting minimum height to cover the entire viewport */
  display: flex; /* Using flexbox for layout */
  flex-direction: column;
  align-items: center; /* Centering items horizontally */
  justify-content: flex-start; /* Centering items vertically */
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  padding: 20px; /* Add padding for spacing */
}

.top-button {
  background-color: #222222;
  color: rgb(255, 248, 248);
  border: none;
  border-radius: 5px;
  padding: 14px 123px;
  cursor: pointer;
}

.text-center {
  text-align: center;
  padding-top: 250px;
}
